$settings-scheme-woody: $dark-onyx, $wood, $dark-wood;
$settings-scheme-onyx: $light-wood, $onyx, $dark-onyx;

@mixin settings-scheme($text, $bg, $dark-bg) {
    &-article {
        color: $dark-bg;
    }

    &-label {
        background-color: $bg;
        color: $text;
    }
    
    &-label:not(:last-of-type) {
        border-right: 1px solid $dark-bg;
    }

    &-radio:checked + &-label {
        background-color: $dark-bg;
    }
}

.settings {
    &-article {
        padding: 15px;
        color: white;
        text-align: center;
    }

    &-radio {
        display: none;
    }

    &-label {
        padding: 10px 15px;
        transition: background 0.3s ;
        background-color: $green;
        cursor: pointer;
    }
    
    &-label:not(:last-of-type) {
        border-right: 1px solid $dark-green;
    }

    &-radio:checked + &-label {
        background-color: $dark-green;
    }

    &-label {
        color: inherit;
    }

    &-heading {
        margin-top: 20px;
    }

    &-selection {
        display: inline-flex;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.50);
    }

    @include settings-scheme($settings-scheme-onyx...)
}