.table-container {
    overflow: auto;
    padding: 1rem;
    max-height: 80vh;
    margin-top: 1rem;
    padding: 0 1rem 1rem 1rem;

    &::-webkit-scrollbar-track
    {
        border: 1px solid $dark-onyx;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
        width: 10px;
        height: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: $dark-onyx;	
    }
}

.header-clickable {
    cursor: pointer;

    &:hover {
        outline: 3px solid $dark-wood;
    }
}